[submodule "VexRiscv"]
	path = lib/VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
[submodule "lib/VexRiscV"]
	path = lib/VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
[submodule "sakura-x-shell"]
	path = boards/sakura-x-shell
	url = https://github.com/hal-lab-u-tokyo/sakura-x-shell.git
[submodule "boards/cw305-shell"]
	path = boards/cw305-shell
	url = https://github.com/hal-lab-u-tokyo/cw305-shell.git
